<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Game</title>
	</head>
	<body>
		<h1><%= game.title %></h1>
		<ul>
			<li>Genre: <%= game.genre %></li>
			<li>Developer: <%= game.developer.name %></li>
			<li>Rating: <%= game.rating %></li>
		</ul>
	</body>
</html>
